// @Buttons

.btn {
  cursor: pointer;
  &_primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    min-width: 285px;
    min-height: 62px;
    border: 2px solid transparent;
    border-radius: var(--border-radius-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-base);
    flex: none;
    transition: border var(--transition-props);
    color: var(--c-text);
    background-color: transparent;
    .sf-price__regular {
      font-size: var(--font-size-base);
    }
  }
}
